DATABASE_URL="postgresql://user:password@ep-xxx.us-east-1.aws.neon.tech/neondb?sslmode=require"

DIRECT_URL="postgresql://user:password@ep-xxx.us-east-1.aws.neon.tech/neondb?sslmode=require"

BETTER_AUTH_SECRET="****************************"

BETTER_AUTH_URL="http://localhost:3000"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloud_name"

CLOUDINARY_API_KEY="api_key"

CLOUDINARY_API_SECRET="api_secret"

NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="booklife_uploads"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
